.Meaning h3 {

    margin-bottom: 20px;
    font-size:  24px;
    line-height: 1.5px;
    font-weight: bold;
    color: #6991ee;
}

.Meaning .example {
   
    font-size:  15px;
    opacity: 0.7;
    font-style: italic;
    color: #2c488a;
    margin-top: 5px;
    margin-bottom: 5px;
}