.Meaning h3 {

    margin-bottom: 20px;
    font-size:  24px;
    line-height: 1.5px;
    font-weight: bold;
    color: #6991ee;
}

.Meaning .example {
    color: #3a5daf;
    font-size:  15px;
    opacity: 0.7;
    font-style: italic;
    margin-top: 10px;
}