.Phonetic {
    margin-bottom: 20px 0px;

}


.Phonetic .audio-player {
    max-width: 70%;
    color: red;
  }
.Phonetic a {
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    background-color: #94b3fd;
    color:white;
}

.Phonetic .text {
  
    opacity:0.5;
    font-weight: italic;
}

.Phonetic, .audio-player {
    max-width: 60%;
}

.audio-player ::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel   {
     background-color: #94b3fd;
     }